.App {
  background: antiquewhite;
  width: 800px;
  margin: 0 auto;
}

.currencyInput {
  font-size: 50px;

  input {
    height: 50px;
    font-size: 50px;
  }
}

.hint{
}

.hint-success{
  color:green;
  font-size: 30px;
  text-align: center;
}

.hint-failed{
  color:red;
  font-size: 30px;
  text-align: center;
}

.bigChar{
  border: gray solid 1px;
  height: 50px;
  font-size: 40px;
  display: inline-block;
  width: 50px;
  background-color: white;
  padding: 5px;
  margin: 15px;
}
.playingPanel{
  width: 400px;
  height: 600px;
  background-color: rgb(190,193,250);
}

.controlPanel{
  width: 400px;
  float: right;
  background-color: rgb(255,254,198);
  height: 600px;
}

button{
  width: 300px;
  font-size: 40px;
  color: white;
  padding: 10px;
  margin: 30px 50px;
}

.guessBtn{
  background-color: rgb(125,184,76);
}

.startGameBtn{
  background-color: deepskyblue;
}

.showAnswerBtn{
  background-color: rgb(235,139,133);
}

.answerPanel{
  background-color: rgb(179,213,177);
  height: 250px;
}

.inputPanel{
  background-color: rgb(190,193,250);
  height: 250px;
}

input{
  text-transform: uppercase;
  font-size: 30px;
  width: 280px;
  padding: 10px;
  margin: 10px 50px;
}

h1{
  margin: 20px;
}